<button
    id='filter-button'
    class='hover:bg-gray-300 p-1.5 rounded flex justify-end'
    onclick="openDropdownMenu()"
>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="white">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
    </svg>
</button>

<div
    id="dropdownMenu" 
    class="absolute right-5 mt-11 w-35 origin-top-right rounded-md bg-white shadow-lg hidden"
> 
    <form
        id="dropdown-form"
        hx-get='.'
        hx-target='#{{ item_type }}-list'
        hx-swap='outerHTML'
        hx-trigger="submit"
        onsubmit="closeDropdownMenu()"
    >
        <ul class="py-1">
            <li>
                <button
                    class='w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100'
                    name="ordering" 
                    value="title"
                    type="submit"
                >
                    Name
                </button>
            </li>
            <li>
                <button
                    class='w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100'
                    name="ordering" 
                    value="created" 
                >
                    Date
                </button>
            </li>
            
            <li>
                <button
                    class='w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100'
                    name="ordering"
                    value="-complete"
                >
                    Complete
                </button>
            </li>
        </ul>
        <input type="hidden" name="research" value="{{ search_query }}" />
    </form>
</div>

{% comment %} <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline ml-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    {%
        Up = "M5 15l7-7 7 7"
        Down = "M19 9l-7 7-7-7"
    %}
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7" />
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
</svg> {% endcomment %}