<li id="item-{{ item.id }}">
    <button
        hx-get="{% url 'edit_item' category item.id %}"
        hx-target="#modal-content"
        hx-swap="innerHTML"
        hx-on="htmx:afterRequest:openModal()"
        class='flex flex-col hover:bg-gray-300 hover:opacity-70 shadow-lg border divide-y w-full'
        aria-label="Edit item '{{ item.title }}'"
    >
        <img class='w-full aspect-[3/4] object-cover' src={{item.image}} />
        <div class='flex justify-between p-2 w-full'>
            <span class='font-bold text-base'>
                {{item.title}}
            </span>
            {% if item.complete %}
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-900" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            {% endif %}
        </div>
    </button>
</li>
