<form 
    hx-get='.'
    hx-target='#{{ item_type }}-list'
    hx-swap='outerHTML'
    hx-trigger="input"
    class='flex items-center'
>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="white" class="w-7 h-7">
        <path stroke-linecap="round" stroke-linejoin="round" d="M11 4a7 7 0 1 1 0 14 7 7 0 0 1 0-14zM18 18l3 3" />
    </svg>
    <input
        class='rounded border pl-5 py-1.5 ml-3'
        placeholder="Search..."
        value='{{ search_query }}'
        name='research'
        onkeydown="return event.key != 'Enter'"
    />
    <input type="hidden" name="ordering" value="{{ order }}" />
</form>
