<div class="flex items-center justify-center p-5">
    <form
        hx-post='/add_task/'
        hx-target="#task-list"
        hx-swap="innerHTML"
        class="rounded"
    >
        {% csrf_token %}
        <input
            name="task_title"
            type="text"
            placeholder="Add a new task"
            class="rounded px-4 py-2 text-center border border-gray-500"
            required
        >
        <button
            type="submit"
            class='rounded p-2 bg-gray-500 hover:bg-gray-700 text-white'
        >
            Add
        </button>
    </form>
</div>

<script>
    document.body.addEventListener('htmx:afterRequest', function (event) {
        const form = document.querySelector('form');
        form.reset(); // Reset all fields in the form
    });
</script>