<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Listhias</title>
        {% load static %}
    </head>
    
    <body class='flex flex-col min-h-screen'>
        <header class='bg-gray-800 font-bold text-2xl px-4 py-2'>
            <a href='/' class='text-2xl text-white'>Listhias</a>
        </header>
            
        <main id='content' class='flex-1'>
            {% block content %}
            {% endblock %}
        </main>

        <footer class="bg-gray-800 text-white">
            <p>&copy; 2024 My version of Listy</p>
        </footer>

        {% include "app/modals/modal.html" %}
        
        <script src="https://unpkg.com/htmx.org"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src={% static 'app/modal.js' %}></script>
    </body>
</html>

