<li id="task-{{ item.id }}" class="flex items-center gap-4 py-2 w-full">

    <!-- Task Completion Checkbox -->
    <form
        hx-post="{% url 'complete_task' category item.id %}"
        hx-trigger="change"
        hx-target="#task-list"
        hx-swap="outerHTML"
    >
        {% csrf_token %}
        <input
            type="checkbox"
            class='w-5 h-5'
            aria-label="Mark task '{{ item.title }}' as complete"
            {% if item.complete %}checked{% endif %}
        />
    </form>

    <!-- Edit Task Button -->
    <button
        hx-get="{% url 'edit_task' category item.id %}"
        hx-target="#modal-content"
        hx-swap="innerHTML"
        hx-on="htmx:afterRequest:openModal()"
        class="text-gray-800 hover:text-blue-800 font-bold text-base"
        aria-label="Edit task '{{ item.title }}'"
    >
        {{item.title}}
    </button>
</li>
