{% load custom_filters %}
<li id="item-{{ item.id }}">
    <button
        hx-get="{% url 'edit_item' category item.id %}"
        hx-target="#modal-content"
        hx-swap="innerHTML"
        hx-on="htmx:afterRequest:openModal()"
        class='flex flex-col hover:bg-gray-300 hover:opacity-70 shadow-lg border divide-y w-full'
        aria-label="Edit item '{{ item.title }}'"
    >
        <img class='w-full object-cover' src={{item.image}} alt="{{ item.title }}" />

        <div class='flex justify-between p-2 w-full'>
            <text class='font-bold text-base text-start'>
                {{item.title|split:"("|first|truncatechars:55}}
            </text>
            {% if item.complete %}
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                </svg>
            {% endif %}
        </div>
    </button>
</li>
